@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
}

h1 {
  font-size: 2.2em;
  color:#fff;
  margin-top: 0;
  text-shadow: 1px 1px 2px #000000;
}

h2 {
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgba(53, 51, 51, 95%) 62%, rgba(131, 126, 82, 95%));
  box-shadow: 5px 5px 5px #d3d3d3;
  border-radius: 30px;
}

.header-contents {
  text-align: center;
}

.btn {
  height: 40px;
  width: 150px;
  background-color:#20b2aa;
  border-radius: 15px;
  border: none;
  box-shadow: 5px 5px 5px #000000;
  color: #353333;
}

.btn:active {
  position:relative;
  top: 3px;
  left: 3px;
  box-shadow: none;
}

.game-body {
  display: flex;
  justify-content: center;
}

.gameboard {
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 1px solid 413e3e;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 10px;
  background-color:#413e3e;
}

.game-piece {
  background-color: #fff;
  padding: 20px;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-window {
  height: 400px;
  width: 600px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin: -200px -300px;
  background: radial-gradient(rgba(53, 51, 51, 80%) 62%, rgba(131, 126, 82, 80%));
  border-radius: 15px;
  box-shadow: 5px 10px 10px #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.winner-contents {
  text-align: center;
}